mat-card {
  margin: 1rem auto;
  max-width: 400px;

  mat-spinner {
    margin: auto;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  button {
    margin-top: 0.4rem;
  }

  .button-group {
    display: flex;

    .spacer {
      flex: 1 1 auto;
    }
  }
}





