<mat-card>
  <mat-spinner *ngIf="isLoading" diameter="65"></mat-spinner>
  <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
    <mat-form-field hideRequiredMarker>
      <mat-label>E-Mail</mat-label>
      <input
        matInput
        nameplaceholder="example@example.com"
        type="email"
        name="email"
        #email="ngModel"
        ngModel
        required
        email
      >
      <mat-error *ngIf="email.invalid">Please enter a valid email.</mat-error>
    </mat-form-field>
    <mat-form-field hideRequiredMarker>
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        name="password"
        #password="ngModel"
        ngModel
        required
      >
      <mat-error *ngIf="password.invalid">Please enter a valid password.</mat-error>
    </mat-form-field>
    <div class="button-group">
      <button mat-raised-button color="primary" type="submit">
        {{isLogin ? "Login" : "Sign Up"}}
      </button>
      <div class="spacer"></div>
      <button
        mat-stroked-button
        color="basic"
        type="button"
        (click)="switchMode()">
        Switch to {{isLogin ? "Sign Up" : "Login"}}
      </button>
    </div>
  </form>
</mat-card>
