<mat-card>
  <mat-spinner diameter="65" *ngIf="isLoading"></mat-spinner>
  <form #postForm="ngForm" (submit)="onAddPost(postForm)" *ngIf="!isLoading">
    <mat-form-field hideRequiredMarker>
      <mat-label>Post Title</mat-label>
      <input matInput name="title" #title="ngModel" [ngModel]="post?.title" minlength="3" required>
      <mat-error *ngIf="title.invalid">Please enter a post title</mat-error>
    </mat-form-field>
    <mat-form-field hideRequiredMarker>
      <mat-label>Post Content</mat-label>
      <textarea matInput rows="6" name="content" [ngModel]="post?.content" required #content="ngModel"
      ></textarea>
      <mat-error *ngIf="content.invalid">Please enter a post content</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit"
            [disabled]="postForm.invalid">
      {{mode === "create" ? "Save Post" : "Update Post"}}
    </button>
  </form>
</mat-card>
