html, body {
  height: 100%;
  background: #303030;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.snackbar-message {
  background-color: #7b1fa2;
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-size: 14px;
  color: white;
}
