<mat-spinner diameter="65" *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="posts.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      {{post.title}}
    </mat-expansion-panel-header>
    <img mat-card-image [src]="post.imagePath" [alt]="post.title">
    <p>{{post.content}}</p>
    <mat-action-row>
      <button mat-stroked-button color="accent"
              [routerLink]="['/edit', post._id]">
        Edit
      </button>
      <button mat-stroked-button color="warn"
              (click)="onDelete(post._id)">
        Delete
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<div class="no-post-placeholder" *ngIf="posts.length <= 0 && !isLoading">
  No posts added yet!
</div>
